<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Hi Guys, My name is Akash. I will be posting the the updates I would be learning in near future. I am exploring technologies like Software Engineering and Web Development</p> <br><br>
    <p>Using Python I would be exploring different types of Data Structures Algos.</p> <br>
    <p>As a Full Stack Developer I would be adding different Front-End design using HTML, CSS, Bootstrap, Java-Script. And for Back-End I would be using Java-Script, Nodejs and npm package manager which can puts modules in place so that node can find them, and manages dependency conflicts intelligently. And for database we will use MongoDB Atlas</p>

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>